<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="task">
      <ion-icon name="disc-outline" size="medium"></ion-icon>
      <ion-label>Task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meeting">
      <ion-icon name="calendar-outline" size="medium"></ion-icon>
      <ion-label>Meeting</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline" size="medium"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>